html, body {
  height: 100%;
}

.container {
  height:100%
}

.navContainer {
  border-bottom: black solid;
  border-width: 1px;
  margin-left: auto;
  margin-right: auto;
/*  margin-top: 50px;*/
  width:60%;
}

.logo{
  display: inline;
}

.nav {
 display: inline;
}

/*.imgContainer {
  float: left;
}

.liContainer {
  float:left;
}*/

li {
  display: inline-block;
  text-align: center;
  margin-left: 20px;
}

header {
  width: 50%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 50px;
  margin-top: 50px; 
}

.contentContainer {
  width: 60%;
  margin-right: auto;
  margin-left: auto;
}

/*h1 {
  text-align: center;
}*/
/*.signIn {

}

h1 {
  width: 50%;
}*/