html, body {
  height:100%;
}

.topbar {
  background-color: black;
  height: 35px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.nav {
  display: inline;
  padding-left: 0;
  line-height: 35px;
  top: 50%;
  vertical-align: middle;
  /*float: left;*/
}

li {
  color: #A8A8A8;
  display: inline;
  font-weight: bold;
  list-style: none;
  margin: 5px;
}

.signUpButton {
  float: right;
  margin-top: 40px;
  margin-right: 20px;
}

.logo {
  display: block;
  height: 100px;
  top:50%;
  margin-left: auto;
  margin-right: auto;
  width: 289px;
}

.vertContainer {
  position: absolute;
  top: 50%;
  margin-top: -50px;
  width: 100%;
}

input {
  border-color: #351BE0;
  border-style: solid;
  border-width: 1px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  width: 350px;
}

.buttContainer {
  margin-top: 10px;
  text-align: center;
}